<!DOCTYPE html>

  <head>
    <title>First App Using Flask</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

  </head>
  <body>
    <br>
    <h1 class="text-center">Resumes Classifier</h1>
    <br>
    <form  class="text-center" action="/" method="post" enctype="multipart/form-data">
        <div class="text-center alert alert-warning">
            <input class="form-data" type="file" name="cv">
        </div>
        <br><br>
        <input class="text-center btn btn-primary" type="submit" value="Predict Resume Category">
    </form>
    <br>
    
    
    

  </body>
</html>