<div class="header bg-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
    
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">

    <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
            
                    <div class="row">
                        <div class="d-flex form-group ">
                        
                            <div class="d-flex form-group ">
                                <div class="col-lg-12 col-md-12">
                                    <div class="row d-flex form-group">
                                        <label class="col-4" for="number"
                                            >Upload Your Cv
                                        </label>
                                        <div class="col-8">
                                        
                                            <input
                                                type="file"
                                                class="form-control"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>    

                    </div>   
                    <div class="col-8">
                        <button type="button"  [routerLink]="['/resultat']" class="btn btn-outline-primary" >Submit</button>
                    </div>
                
               

                </div>
            </div>
        </div>
    </div>
</div>