
<div class="header bg-primary pb-5 pt-5 pt-md-5">
    <div class="container-fluid">
      <div class="header-body">
        <div class="container my-5">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <p class="card-text text-center">The category of your uploaded resume is:</p>
                  <h4 class="card-text text-center text-warning">{{prediction}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <br>
    <div class="text-center">
       <!-- <button type="button"   [routerLink]="['/upload/cv']"  class="btn btn-outline-dark " >Upload another CV</button> -->
      <a href="/upload/cv"> <button type="button"    class="btn btn-primary my-1 " >Upload another CV</button></a>
    </div>
    <br>
    <div class="text-center">
       <!-- <button type="button"  [routerLink]="['/all/cv']" class="btn btn-outline-dark " >View the list of your uploaded CVs</button> -->
      <a href ="/all/cv"> <button type="button"  class="btn btn-primary my-1 " >View the list of your uploaded CVs</button></a>
    </div>
  </div>

  
